---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


function calcAge(dateString: string) {
  var birthday = +new Date(dateString);
  return ~~((Date.now() - birthday) / (31557600000));
}
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body class="bg-slate-100 ">

		<Header title={SITE_TITLE} />

		
		<main class="flex flex-col mx-auto justify-center">
			<h1>Hey Stranger 👋🏻</h1>

			<p class="mt-4">
				You've sumbled across my website, now thats either because youve stumbled across a link somewhere or maybe found something useful in its contents. 
			</p>

			<p class="mt-2">
				Either way welcome, here i'll be posting nifty bits of code and photos of stuff, <b>all opionions & code shared are my own</b> so if you don't agree with something please contact me directly via one of the methods provided.
			</p>

			<p class="mt-2">
				Here's a little bit about me. im a {calcAge("08-03-1996")} year old full stack developer from the UK, I am currently with a company and my focus at the moment is delivering value for a local government and their residents using:
				<ul class="list-disc ml-8">
					<li>C#</li>
					<li>Razor</li>
					<li>AlpineJs</li>
					<li>Typescript</li>
					<li>AzureFunctions</li>
					<li>Dynamics 365</li>
					<li>Cypress</li>
					<li>Jest</li>
				</ul> 
			</p>

			<p class="mt-3">
				I've been developing fullstack for {calcAge("01-01-2020")} ish years at this point. Prior to my current role I worked in the insurance industry writing underwriting schmes and internal applications with angular and php.
			</p>


			<p class="mt-2">
				I'm happy in my current role and not seeking full time employment, but if you have a cool project in mind feel free to reach out!
			</p>
		</main>
		<Footer />
	
		<script>
			declare global{
				interface Window {
					netlifyIdentity: any;
				}
			}

			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user : any) => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
					});
				}
				});
			}
		</script>
	
	</body>
</html>
