---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
---

<a href={href} class="decoration-transparent text-slate-600 hover:text-orange-400 font-bold" {...props}>
	<slot />
</a>

